.navbar li {
	display: inline;
	margin-right: 10px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 20px;
	position: fixed;
	top: 0;
	width: calc(100% - 40px);
	background-color: white;
}

.navbar a {
	color: black;
	text-decoration: none;
}